@charset "utf-8";

*, *::before, *::after{
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

@font-face {
	font-family: 'MyFont1';
  src: url('./PixelMplus10-Regular.ttf') format('truetype')
}

@font-face {
	font-family: 'MyFont2';
  src: url('./PixelMplus12-Regular.ttf') format('truetype')
}



html{
  height: 100%;
}

body {
  height: 100%;
	font-family: Hiragino Kaku Gothic Pro,"ヒラギノ角ゴ Pro W3",Meiryo,"メイリオ",Osaka,MS PGothic,arial,helvetica,sans-serif;
}

#wrapper{
  width: 100%;
  position: relative;
  min-height: 100%;
}

  li {
    list-style: none;
  }
  
  .header {
    background-color: #FFF4A071;
    color: #000000;
    top: -3px;
    left: 0px;
    height: 200px;
  }

  .header-logo span{
    font-size: 80px;
    font-family: 'Myfont2'
  }
  
  .header-logo {
    float: left;
    font-size: 80px;
    padding-left: 50px;
    padding-top: 90px;
    font-family: 'Myfont1';
  }
  
  .header-list img  {
    width: 100px;
    height: auto;
    float: right;
    margin-right: 20px;
    padding-right: 10px;
    padding-top: 150px;
  }
  
  
  
  
  .contents {
    height: 500px;
    margin-top: 50px;
  }
  
  hr{
    height: 2px;
    border: none;
    background-color: #dee7ec;
    width: 80%;
    text-align: right;
    margin-left: 100px;
    margin-right: 100px;
  }

  .contents h1{
    font-size: 35px;
    padding-left: 50px;
    padding-top: 100px;
    float: left;
  }

  .octopus5{
    margin-top:90px;
    width: 50px;
    height: auto;
  }

  .section-title {
    color: rgb(0, 0, 0);
    font-size: 28px;
    padding-left: 100px;
    padding-top: 60px;
    margin-bottom: -12px;
  }
  
  .imgfirst{
    width: 100px;
    height: auto;
    text-align: left;
    margin-left: 100px;
  }


  .imgsecond{
    width: 100px;
    height: auto;
    text-align: left;
    margin-left: 10px;
  }
  .contents-item {
    float: left;
    margin-right: 40px;
  }
  
  .contents-item p {
    font-size: 24px;
    margin-top: 30px;
  }
  
  .contact-form {
    padding-top: 100px;
  }
  
  /* inputとtextareaのCSSを指定してください */
  input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
  }
  
  /* contact-submitのCSSを指定してください */
  
  
  .footer {
    background-color: #FFF4A071;
    color: #000000;
    width: 100%;
    height: 120px;
    margin-top: px;
    position: absolute;
    bottom: -500px;
  }
  
  .footer-logo {
    float: left;
    font-size: 20px;
    font-family: 'Myfont2';
    padding-top: 40px;
    padding-left: 30px;
  }

  .footer-logo span{
    color: rgb(17, 0, 255);
  }
  
  .footer-list {
    float: right;
  }

  .footer-list img{
    margin-bottom: -106px;
  }
  


  